<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
    	<title>Doctor Secret Room</title>
    	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    	<link rel="stylesheet" href="css/style.css">
	</head>


	<body>

		<!--
		<header>Header TODO</header>
		-->
		<header th:replace="index.html :: top">
        	Your header here
		</header>


		<section>
 			<!-- 
    		<h1>Welcome $doctorname</h1>
  			-->   
    		<h1 th:text="|Welcome ${name}!|">John Smith</h1>
    
    
 			<!--    
   			<h3>Your number is $doctornumber</h3>
  			-->    
    		<h3 th:text="|Your number is ${number}|">0</h3>    
		</section>


		<!--
		<footer>Footer TODO</footer>
		-->
		<footer th:replace="index.html :: down">
			Footer TODO
		</footer>

	</body>


</html>


